.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  position: relative;
  flex: 1;
  background-color: #333;
  padding: 1.3rem;
  border: 1px solid #888;
  border-radius: 1rem;
  max-width: 600px;
  max-height: 90vh;
  overflow: scroll;
}

.close {
  position: absolute;
  right: 0.5rem;
  top: 0;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
