.container {
  background-color: var(--color-gray-100);
  position: absolute;
  bottom: calc(100% + 20px);
  right: 0;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 0 12px -5px var(--color-gray-600);
}

.inputContainer {
  padding: 0.8rem;
}

.inputContainer > input {
  width: 100%;
  background-color: var(--color-gray-200);
  color: var(--color-gray-700);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.4rem;
}

.inputContainer > input:focus {
  outline: 3px solid var(--color-gray-400);
}

.resultContainer {
  overflow-y: auto;
  height: 20rem;
  padding: 0.8rem;
}

.results {
  column-count: 2;
  column-gap: 10px;
  list-style: none;
}

.results > li {
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.results > li:hover {
  outline: 3px solid var(--color-gray-400);
}

.results > li > img {
  width: 100%;
  display: block;
}
