.primaryContainer {
  margin: 0 auto;
  padding: 1rem;
  padding-top: 4rem;
  max-width: 700px;
}

.primaryContainer > h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--color-gray-700);
  margin-bottom: 2rem;
}

.queryContainer {
  position: relative;
  margin-bottom: 4rem;
}

.queryContainer > * {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-gray-500);
}

.queryContainer > svg {
  position: absolute;
  top: 0.65rem;
  left: 0.5rem;
}

.queryContainer > input {
  width: 100%;
  padding: 0.5rem;
  padding-left: 1.8rem;
  border: 1px solid var(--color-gray-400);
  border-radius: 5px;
  background-color: var(--color-gray-100);
}

.primaryContainer > h2 {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  color: var(--color-gray-700);
  margin-bottom: 1rem;
}

.primaryContainer > h2::before {
  display: inline-block;
  content: "";
  width: 0.5rem;
  border-radius: 10px;
  background-color: var(--color-primary-200);
}

.results > p {
  color: var(--color-gray-400);
  margin-bottom: 1.5rem;
}

.results > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(140px, 100%), 1fr));
  gap: 1rem;
  list-style: none;
  margin-bottom: 1.5rem;
}
