.inputsContainer {
  position: relative;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 0.9rem;
  background-color: rgb(from var(--color-gray-300) r g b / 40%);
  color: var(--color-gray-400);
}

.inputsContainer:focus-within {
  outline: 2px solid var(--color-gray-400);
}

.input {
  display: block;
  font-size: 1rem;
  min-height: 1rem;
  max-height: 8rem;
  width: 100%;
  color: var(--color-gray-700);
  background-color: transparent;
  border: none;
  resize: none;
}

.input:focus {
  outline: none;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 1rem;
}

.actionsContainer {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

.actionBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  line-height: 0;
  background: none;
  border: none;
  color: var(--color-gray-400);
  font-size: 1.2rem;
  border-radius: 50%;
}

.actionBtn:focus,
.actionBtn:hover:not(:disabled) {
  background-color: rgb(from var(--color-gray-300) r g b / 40%);
}

.submitBtn:enabled {
  color: var(--color-primary-200);
}

.relative {
  position: relative;
}
