.primaryContainer {
  color: var(--color-gray-700);
}

.nRequests {
  margin-bottom: 1rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
  gap: 1rem;
  list-style: none;
}
