.spinner {
  border: solid var(--color-gray-200);
  border-top: solid var(--color-primary-200);
  border-right: solid var(--color-primary-200);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
