.textlikeContainer {
  position: relative;
}

.textlikeContainer > label {
  position: absolute;
  top: 0.55rem;
  left: 0.5rem;
  color: var(--color-gray-300);
  background-color: var(--color-gray-100);
  padding: 0 0.2rem;
  cursor: text;
  transition:
    top 100ms ease-out,
    font-size 100ms ease-out;
}

.textlikeContainer > input,
.textlikeContainer > textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  background-color: var(--color-gray-100);
  color: var(--color-gray-700);
  font-size: 1rem;
}

.textlikeContainer > textarea {
  resize: vertical;
}

.textlikeContainer > input::placeholder,
.textlikeContainer > textarea::placeholder {
  color: transparent;
}

.textlikeContainer > input:focus,
.textlikeContainer > textarea:focus {
  outline: none;
  border: 1px solid var(--color-primary-100);
}

.textlikeContainer > input:not(:focus):hover,
.textlikeContainer > textarea:not(:focus):hover {
  border: 1px solid var(--color-gray-600);
}

.textlikeContainer:focus-within > label {
  color: var(--color-primary-100);
}

.textlikeContainer:focus-within > label,
.textlikeContainer:has(input:not(:placeholder-shown)) > label,
.textlikeContainer:has(textarea:not(:placeholder-shown)) > label {
  top: -0.3rem;
  font-size: 0.7rem;
}

.select {
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--color-gray-300);
  color: var(--color-gray-700);
  border-radius: 5px;
}

.select > * {
  font-weight: 400;
}

.checkboxContainer > label {
  position: relative;
  display: flex;
  gap: 0.5rem;
  font-weight: 500;
}

.checkboxContainer > label:hover::before {
  content: "";
  position: absolute;
  left: -0.3rem;
  top: -0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(from var(--color-gray-700) r g b / 10%);
  border-radius: 50%;
}

.checkboxContainer input {
  cursor: pointer;
  position: relative;
  z-index: 1;
}
