.primaryContainer {
  position: relative;
}

.primaryContainer > label {
  position: absolute;
  top: 25%;
  left: 2%;
  color: var(--color-gray-300);
  background-color: var(--color-gray-100);
  padding: 0 0.2rem;
  cursor: text;
  transition:
    top 100ms ease-out,
    font-size 100ms ease-out;
}

.primaryContainer > input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  background-color: var(--color-gray-100);
  color: var(--color-gray-700);
  font-size: 1rem;
}

.primaryContainer > input::placeholder {
  color: transparent;
}

.primaryContainer > input:focus {
  outline: none;
  border: 1px solid var(--color-primary-100);
}

.primaryContainer:focus-within > label {
  color: var(--color-primary-100);
}

.primaryContainer:focus-within > label,
.primaryContainer:has(input:not(:placeholder-shown)) > label {
  top: -15%;
  font-size: 0.7rem;
}
