.primaryContainer {
  background-color: var(--color-gray-100);
  position: absolute;
  bottom: calc(100% + 20px);
  right: 0;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 12px -5px var(--color-gray-600);
}

.inputContainer {
  padding: 0.8rem;
}

.inputContainer > input {
  width: 100%;
  background-color: var(--color-gray-200);
  color: var(--color-gray-700);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.4rem;
}

.inputContainer > input:focus {
  outline: 3px solid var(--color-gray-400);
}

.emojisContainer {
  height: 15rem;
  overflow-y: auto;
  padding: 0 0.4rem;
}

.groupTitle {
  margin: 10px 0;
}

.groupNav {
  display: flex;
  justify-content: center;
  gap: 4px;
  border-top: 1px solid var(--color-gray-300);
  padding: 0.5rem 0;
}

.emojisContainer > button,
.groupNav > button {
  background: none;
  border: none;
  cursor: pointer;
}

.emojisContainer > button {
  display: inline-block;
  margin: 0 0.2rem;
  font-size: 1.5em;
}

.groupNav > button {
  font-size: 1rem;
}
