.imagePreview {
  position: relative;
  width: max-content;
}

.imagePreview > span {
  position: absolute;
  right: -2.2rem;
  top: 0.5rem;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  background-color: #222;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  line-height: 1.7rem;
  text-indent: 0.34rem;
}

.imagePreview > span:hover,
.imagePreview > span:focus {
  background-color: #333;
  text-decoration: none;
  cursor: pointer;
}

.imagePreview > img {
  display: block;
  max-height: 100px;
  border-radius: 10px;
}
