.commentContainer {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}

.commentContainer > div:first-child {
  position: relative;
}

.commentContainer:not(:last-child) > div:first-child::before {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  top: 0;
  bottom: 0;
  margin-top: calc(100% + 0.2rem);
  border-left: 2px solid var(--color-gray-400);
}

.commentContent {
  padding: 0.5rem;
  padding-top: 0.3rem;
  border-radius: 10px;
  margin-bottom: 0.2rem;
  max-width: max-content;
}

.commentContent:has(> p) {
  background-color: rgb(from var(--color-gray-300) r g b / 40%);
}

.commentContent > a {
  display: inline-block;
  color: var(--color-gray-700);
  font-weight: 600;
  font-size: 0.8rem;
}

.commentContent > p {
  white-space: pre-wrap;
  color: var(--color-gray-700);
  font-size: 0.9rem;
}

.commentMedia {
  display: block;
  max-height: 100px;
  border-radius: 10px;
  margin-bottom: 0.2rem;
}

.commentActions {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.2rem 0.5rem;
}

.commentActions,
.commentActions > button {
  color: var(--color-gray-500);
  font-size: 0.8rem;
  font-weight: 500;
}

.commentActions > button {
  border: none;
  background-color: transparent;
}

.commentActions > button:hover {
  text-decoration: underline;
}

.replyFormContainer {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}

.repliesContainer,
.replyFormContainer {
  margin-bottom: 0.4rem;
}

.replyList {
  list-style: none;
}

.replyList > li {
  position: relative;
}

.replyContainer {
  position: relative;
}

.repliesViewMore > * {
  position: relative;
}

.repliesViewMore > button {
  padding: 0.4rem 0;
  border: none;
  background-color: transparent;
  color: var(--color-gray-500);
  font-size: 0.9rem;
  font-weight: 700;
  max-width: max-content;
}

.replyFetchError {
  color: red;
}

.replyFetchError > button {
  color: var(--color-gray-700);
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: 600;
}

.replyList > li:not(:last-child) > .replyContainer::after,
.replyList:not(:last-child) > li:last-child > .replyContainer::after,
.repliesContainer:not(:last-child)
  > .replyList
  > li:last-child
  > .replyContainer::after,
.repliesContainer:not(:last-child) > .repliesViewMore > *::after {
  content: "";
  position: absolute;
  left: -1.8rem;
  top: 0;
  bottom: 0;
  border-left: 2px solid var(--color-gray-400);
}

.replyFormContainer > div::before,
.replyList > li > .replyContainer > .commentContainer::before,
.repliesViewMore > *::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 0.8rem);
  right: calc(100% + 0.2rem);
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  border-left: 2px solid var(--color-gray-400);
  border-bottom: 2px solid var(--color-gray-400);
  border-bottom-left-radius: 50%;
}

.editFormContainer > button {
  padding: 0.4rem;
  border: none;
  background-color: transparent;
  color: var(--color-primary-200);
  font-size: 0.8rem;
  font-weight: 600;
}

.editFormContainer > button:hover {
  text-decoration: underline;
}
