.actionsContainer {
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.actionsContainer > button {
  flex: 1;
  font-size: 0.9rem;
  font-weight: 700;
  max-width: 180px;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
}

.actionsContainer > button:first-child {
  background-color: transparent;
  color: var(--color-primary-200);
}

.actionsContainer > button:first-child:hover {
  background-color: var(--color-gray-200);
}

.actionsContainer > button:last-child {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary-300);
  color: #fff;
}

.actionsContainer > button:last-child:disabled {
  background-color: var(--color-primary-100);
}

.actionsContainer > button:last-child:not(:disabled):hover,
.actionsContainer > button:last-child:not(:disabled):focus {
  background-color: var(--color-primary-200);
}

.savedMsg {
  padding: 1rem;
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-accent-300);
}
