.primaryContainer {
  position: sticky;
  top: 0;
  height: 3.6rem;
  background-color: var(--color-gray-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1.2rem;
  box-shadow: 0 -4px 8px 0 var(--color-gray-700);
}

.primaryLinksContainer {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 0.2rem;
  max-width: 280px;
}

.primaryLinksContainer a {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  color: var(--color-gray-500);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 3px solid var(--color-gray-100);
}

.primaryLinksContainer a:not(.active):hover {
  background-color: var(--color-gray-200);
}

.primaryLinksContainer a.active {
  color: var(--color-primary-200);
  border-radius: 0;
  border-color: transparent;
  border-bottom: 3px solid var(--color-primary-200);
}

.primaryLinksContainer a.alert::before {
  position: absolute;
  top: 30%;
  left: calc(50% + 0.5rem);
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
}

.dropdown {
  position: relative;
  display: block;
}

.dropBtn {
  position: relative;
  background-color: unset;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
}

.dropBtn:hover::after,
.dropBtn:focus::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: rgb(from var(--color-gray-700) r g b / 5%);
  border-radius: 5rem;
}

.dropBtn > span {
  position: absolute;
  bottom: -5%;
  right: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-200);
  color: var(--color-gray-700);
  border: 2px solid var(--color-gray-100);
  border-radius: 5rem;
  width: 40%;
  height: 40%;
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  z-index: 1;
  background-color: var(--color-gray-100);
  width: calc(100vw - 2.4rem);
  padding: 0.6rem;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.dropdownContent a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-gray-700);
  font-size: 16px;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
}

.dropdownContent a:first-child {
  font-weight: bold;
}

.dropdownContent a:hover {
  background-color: var(--color-gray-200);
}

.dropdownContent svg {
  display: block;
  background-color: rgb(from var(--color-gray-300) r g b / 40%);
  border-radius: 1rem;
  font-size: 2.2rem;
  padding: 0.4rem;
}

.show {
  display: block;
}

@media (min-width: 600px) {
  .dropdownContent {
    max-width: 350px;
  }
}
