.inputContainer {
  margin-bottom: 1rem;
}

.inputContainer > * {
  margin: 0 auto;
}

.inputContainer > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.uploadBtn {
  display: block;
  padding: 0.5rem;
  background-color: var(--color-accent-200);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.uploadBtn:hover,
.uploadBtn:focus {
  background-color: var(--color-accent-300);
}
