.container {
  background-color: #222;
  margin: 8px;
  padding: 16px;
  border-radius: 8px;
}

.avatar {
  height: 25px;
  border-radius: 50%;
}

.postContent {
  white-space: pre-wrap;
}

.postModalContainer {
  max-height: calc(85vh - 3rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.postModalContainer > div:first-child {
  overflow: scroll;
  flex: 1;
}
