.user_card {
  padding: 20px;
  text-align: center;
  max-width: 140px;
  background-color: rgba(30, 30, 30, 0.5);
  border-radius: 10px;
}

.user_link {
  text-decoration: none;
}

.user_link:hover {
  text-decoration: underline;
}

.user_link img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
