.primaryContainer {
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-400);
  border-radius: 10px;
  overflow: hidden;
}

.avatar {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.infoContainer {
  padding: 0.5rem;
}

.usernameLink {
  text-decoration: none;
  color: var(--color-gray-700);
  font-weight: 600;
}

.usernameLink:hover {
  text-decoration: underline;
}
